<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1>Spring Boot 3.0.6 Objectives App</h1>
        <hr />

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Actions</th>
                <th>Id</th>
                <th>Description</th>
                <th>Is Complete</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="objective : ${Objectives}">
                    <td>
                        <div class="btn btn-group-sm" role="group">
                            <a class="btn btn-info" th:href="@{/edit/{id}(id=${objective.id})}">
                                <i class="bi bi-pencil-fill"></i> Edit</a>
                            <a class="btn btn-danger" th:href="@{/delete/{id}(id=${objective.id})}">
                                <i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                    <td th:text="${objective.id}"></td>
                    <td th:text="${objective.description}"></td>
                    <td>
                        <span th:if="${objective.isComplete} == true" th:text="Yes" />
                        <span th:unless="${objective.isComplete} == true" th:text="No" />
                    </td>
                    <td th:text="${objective.createdAt}"></td>
                    <td th:text="${objective.updatedAt}"></td>
                </tr>
            </tbody>
        </table>

        <p><a class="btn btn-outline-success" href="/create-objective">
            <i class="bi bi-plus-square-fill"></i> Create an Objective</a>
        </p>
    </div>
    <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>